# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# Coverage reports
htmlcov/
.coverage